#emoticonList {
  position: absolute;
  display: none;
  list-style-type: none;
}

#emoticonList li {
  padding: 5px;
  font-family: symmingliu, MingLiU, monospace;
}

#colorHelperContainer {
  height: 156px;
}
#colorHelperInstruction {
  font-size: 12px;
}
#colorHelperList {
  list-style-type: none;
  width: 256px;
  height: 64px;
  padding: 0px;
  background-color: black;
}
#colorHelperList li {
  display: block;
  float: left;
  width: 32px;
  height: 32px;
}
#colorHelperList li:hover {
  -webkit-transform: scale(1.2, 1.2);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.4);
}
#colorHelperPreview {
  font-family: symmingliu, MingLiU, monospace;
  font-size: 22px;
  line-height: 22px;
}
#colorHelperBlink {
  width: 60px;
  float: left;
  margin-top: 7px;
  margin-bottom: 7px;
}

#symbolsContainer {
  margin-top: 20px;
}
#symbolsContainer .dropdown-toggle,
#symbolsContainer .dropdown-menu a {
  cursor: pointer;
}
#symbolsTab > ul {
  list-style-type: none;
  padding: 0 4px;
  margin-top: 5px;
}
#symbolsTab > ul > li {
  font-family: symmingliu, MingLiU, monospace;
  font-size: 25px;
  line-height: 25px;
  padding: 2px;
  display: block;
  float: left;
  width: 32px;
  height: 32px;
  cursor: pointer;
  border: 1px solid #ccc;
  background-color: white;
  margin-right: -1px;
  margin-bottom: -1px;
}
#symbolsTab > ul > li:hover {
  -webkit-transform: scale(1.4, 1.4);
  border: 2px solid black;
}

#inputHelper {
  position: absolute;
  color: black;
  width: 300px;
  top: 20px;
  left: 20px;
  margin: 0px;
  z-index: 100;
  display: none;
  -webkit-user-select: none;
  cursor: default;
}

#picPreview {
  position: absolute;
  display: none;
  z-index: 3;
}

#welcomeJumbo {
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;

  background-image: -webkit-radial-gradient(center center, circle cover, #352e24, #1a160d);
}

#welcomeBanner {
  position: fixed;
  margin-top: 100px;
  left: 50%;
  margin-left: -506px;
  width: 1012px;
  height: 512px;

  font-family: "微軟正黑體", "Microsoft JhengHei", Tahoma , Verdana , Arial , sans-serif;
}

#welcomeBanner h1 {
  font-weight: 900;
  font-size: 150px;
  margin-top: 90px;
  margin-right: 50px;
  float: left;
}

#welcomeBannerPtt {
  display: inline-block;
  float: left;
  font-size: 130px;
  font-weight: 900;
  margin-top: -30px;
}
#welcomeBannerChrome {
  display: inline-block;
  float: left;
  font-size: 120px;
  width: 350px;
  margin-top: -20px;
  margin-left: -70px;
  -webkit-transform: scaleX(0.58);
}

#bigLogo {
  width: 512px;
  height: 512px;
  float: left;
  background-image: url('../icon_512.png');
}

#getAppBtn {
  width: 450px;
  font-weight: 900;
}

#sideMenus {
  position: fixed;
  width: 95px;
  top: 0px;
  z-index: 3;

  transition: 0.25s ease;
}

.menu {
  left: 0px;
}

.menuHidden {
  left: -85px;
}

.menuHidden:hover {
  left: 0px;
}

.dropdown-menu {
  -webkit-user-select: none;
}

.dropdown-menu li > a > i {
  position: absolute;
  left: 10px;
  margin-top: 3px;
}

.dropdown-menu li > a {
  padding: 3px 20px 3px 30px;
  cursor: default;
  -webkit-user-select: none;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus {
  color: white;
  background-color: #428bca;
}

.dropdown-menu li > a:hover span,
.dropdown-menu li > a:focus span {
  color: white;
}

.cmenuHotkey {
  float: right;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  color: #aaa;
  margin-left: 15px;
}

#opt_reset {
  bottom: 30px;
  position: absolute;
}

#opt_blacklistedUsers {
  margin-top: 20px;
  margin-left: -5px;
}

#opt_blacklistedUsers li {
  margin-left: 5px;
  margin-bottom: 5px;
  float: left;
  width: 290px;
}

#prefModal > .modal-dialog {
  width: 70%;
  min-width: 730px;
  height: 90%;
  margin-bottom: 0;
  min-height: 400px;
}

#prefModal .modal-content {
  height: 100%;
  cursor: default;
  -webkit-user-select: none;
}
#prefModal .modal-body {
  position: absolute;
  bottom: 10px;
  right: 10px;
  overflow-y: auto;
  margin-left: 150px;
  padding-top: 10px;
}

#prefModal h3 {
  margin-bottom: 20px;
}

#prefModal .close {
  position: absolute;
  top: 15px;
  right: 15px;
}

#modalHeader {
  top: 0px;
  left: 180px;
  position: absolute;
  margin-top: 30px;
}

#modalNav {
  padding-left: 30px;
  padding-top: 10px;
  height: 100%;
  width: 160px;
  -webkit-box-shadow: -10px 0 180px -60px #949494 inset
}

#modalNav .nav {
  margin-top: 20px;
}

#modalNav .nav > li > a {
  padding: 5px 0px;
  color: black;
}

#modalNav .nav > li > a:hover,
#modalNav .nav > li > a:focus {
  background: none;
}

#modalNav .nav-pills > li.active > a,
#modalNav .nav-pills > li.active > a:hover,
#modalNav .nav-pills > li.active > a:focus {
  font-weight: bold;
  padding: 5px 0px;
  color: black;
  background: none;
}

.group {
  float: left;
  width: 50%;
  min-width: 400px;
}

.list-group-item-text input[type="text"],
.list-group-item-text input[type="number"],
.list-group-item-text input[type="password"], 
.list-group-item-text select {
  width: 250px;
}

.list-group-item-text select {
  margin-top: 5px;
}

.list-group-item-text > div {
  margin-left: 20px;
}

#opt_mouseBrowsingHighlightColor {
  margin-left: 50px;
  margin-top: -5px;
}

#opt_mouseBrowsingHighlightColor > select {
  margin-top: 5px;
  margin-bottom: 10px;
  width: 70px;
  -webkit-appearance: none;
}

#logo {
  width: 85px;
  height: 90px;
  background: url('../icon_128.png') 0 0/85px 85px no-repeat;
}

.font_btn {
  width: 85px;
  height: 85px;
  background-color: #1a1a1a;
  text-align: center;
  padding: 10px;
  margin: 0px;
  float: left;
  cursor: pointer;
}
.font_btn:hover {
  background-color: #333;
}

.font_btn > i {
  line-height: 40px;
}
.font_btn > span {
  font-size: 13px;
}

#BBSWindow {
  position:fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  overflow:hidden;
  z-index:1;
}

.main, #easyReadingLastRow, #easyReadingReplyRow {
  font-family: MingLiu, monospace;
  font-size: 26px;
  line-height: 100%;
  height: 24em;
  margin-top:0px;
  margin-left:0px;
  margin-right:0px;
  margin-bottom:0px;
  -webkit-user-select: text;
  background-color: black;
  //box-shadow: 0 0 60px 50px black;
}

.main *,
#easyReadingLastRow *,
#easyReadingReplyRow * {
  font-family: inherit!important;
}

.linkurl {
  text-decoration:underline;
  color:#FF00FF;
}

a:not(.cmenuItem a) {
  background-image:url(../icon/http.bmp);
  background-repeat: repeat-x;
  background-position: 0% 90%;
  text-decoration:none;
}

a:link,a:visited,a:active,a:hover {
  background-position: 0% 90%;
  text-decoration:none;
}

.main > span, 
#mainContainer > span, 
#easyReadingLastRow > span,
#easyReadingReplyRow > span {
  display:block;
  color:#C0C0C0;
  white-space: pre;
}

#easyReadingLastRow, #easyReadingReplyRow {
  position: relative;
  display: none;
  overflow: hidden;
  -webkit-user-select: none;
  z-index: 1;
  height: 1em;
  background-color: transparent;
}

#easyReadingLastRow {
  margin-top: -1em;
}

#easyReadingReplyRow {
  margin-top: -2em;
}

#fbSharing {
  position: absolute;
  display: none;
  z-index: 2;
}

#fbSharing .fb_iframe_widget span iframe {
  bottom: 0!important;
}

.easyReadingImg {
  max-height: 19em;
  max-width: 39em;
  margin: 0.5em auto;
  display: block;
}
.easyReadingVideo {
  margin: 0.5em auto;
  width: 640px;
  display: block;
}

.terminal_display {
  font-family : MingLiu, monospace;
  font-size    : 26px;
  line-height:26px;
  white-space: pre;
  cursor: text;
  position: absolute;
  color: #FFFFFF;
  text-decoration: blink;
  -webkit-user-select: none;
  height: 0px;
  z-index: 2;
}

img {
  background:white; 
  color:black; 
  padding:5px 5px;
}

.main img {
  padding: 0px;
}

body {
  color: white;
  //background-color: #101010;
  background-color: black;
  margin: 0px;
  overflow:hidden;
}

span [link="true"] {
  margin: 0px; 
  background-image: inherit; 
  background-repeat: inherit; 
  background-position: inherit;
}

span {
  margin: 0px;
}

.drag {
  display: none; 
  position: absolute; 
  cursor: default; 
  z-Index: 11;
}

.closeSI {
  float: right;
  margin-top:0px;
  margin-left:0px;
  margin-right:0px;
  margin-bottom:0px;
  border: 0px;
  padding: 1px 1px;
  background-color: #bbbbff;
  cursor: default;
}

.EPbtn {
  margin-top:0px;
  margin-left:0px;
  margin-right:0px;
  margin-bottom:0px;
  border: 0px;
  padding: 1px 1px;
  background-color: #ffbbbb;
  cursor: default;
}

.closePP {
  margin-top:0px;
  margin-left:0px;
  margin-right:0px;
  margin-bottom:0px;
  border: 0px;
  padding: 1px 1px;
  background-color: #bbffbb;
  cursor: default;
}

#PicturePreviewInfo{
  color : #fff;
  text-shadow: 0 0 1px #fff,0 0 2px #fff,0 0 3px #fff,0 0 4px #0000ff,0 0 7px #0000ff,0 0 8px #0000ff,0 0 10px #0000ff,0 0 15px #0000ff;
}

#SymbolInput {
  left: 10px;
  top: 10px;
  z-index: 3;
  background-color: #bbbbff;
  opacity: 0.75;
  padding: 3px 3px 3px 3px;
  border:0px double #cccccc;
  -moz-border-radius:8px;
  cursor: default;
}

#YoutubeWindow, #YoutubeWindow2 {
  left: 10px;
  top: 10px;
  z-index: 3;
  background-color: #ffbbbb;
  padding: 3px 3px 3px 3px;
  border:0px double #cccccc;
  -moz-border-radius:8px;
  cursor: default;
}

#PictureWindow {
  left: 10px;
  top: 10px;
  z-index: 3;
  background-color: #ffffff;
  padding: 3px 3px 3px 3px;
  border:0px double #cccccc;
  -moz-border-radius:8px;
  cursor: default;
}

.floatWindowClientArea {
  background-color: #ffffff;
  margin-top:22px;
  margin-left:3px;
  margin-right:3px;
  margin-bottom:3px;
  border: 1px solid #000000;
  cursor: default;
}

.floatWindowClientArea2 {
  background-color: #ffbbbb;
  margin-top:22px;
  margin-left:3px;
  margin-right:3px;
  margin-bottom:0px;
  border: 0px solid #000000;
  cursor: default;
}

.floatWindowClientArea3 {
  background-color: #ffbbbb;
  margin-top:0px;
  margin-left:3px;
  margin-right:3px;
  margin-bottom:3px;
  border: 0px solid #000000;
  cursor: default;
}

.floatWindowClientArea4 {
  background-color: #ffffff;
  margin: 0px;
  padding: 0px;
  border: 0px solid #000000;
  cursor: default;
  position: relative;
}

.floatWindowClientArea5 {
  background-color: #bbffbb;
  margin: 0px;
  padding: 0px;
  border: 0px solid #000000;
  cursor: default;
}

.picturePreview {background:white; color:black; padding:0px;margin: 0px;}

.sBtn{
  font-family: MingLiu, monospace;
  font-size: 12px;
  cursor: default;
  min-width: 26px;
  margin-top:2px;
  margin-left:2px;
  margin-right:2px;
  margin-bottom:2px;
}

#connectionAlert {
  display: none;
  margin-top: 15px;
  position: relative;
  z-index: 2;

  width: 400px;
  left: 50%;
  margin-left: -200px;
}

.main::-webkit-scrollbar {
  width: 10px;
}

.main::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}
.main::-webkit-scrollbar-track:hover {
  background: rgba(255, 255, 255, 0.2);
}

.main::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
}
.main::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}
