@font-face {
  font-family: SymMingLiu;
  src: url('../fonts/symmingliu.woff');
}
@font-face {
  font-family: DFHeiLightB5;
  src: url('../fonts/DFHeiLightB5.woff');
}

#ext_quickSearchList > .list-group-item {
  height: 56px;
}

#ext_quickSearchList .qSearchItemName {
  float: left;
  width: 28%;
}
#ext_quickSearchList .editMode div span {
  display: none;
}
#ext_quickSearchList .editMode div input {
  display: block;
}
#ext_quickSearchList div span {
  display: block;
}
#ext_quickSearchList div input {
  display: none;
}

#ext_quickSearchList .qSearchItemQuery {
  margin-left: 5px;
  float: left;
  width: 65%;
}
#ext_quickSearchList .qSearchItemQuery > span,
#ext_quickSearchList .qSearchItemName > span {
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#ext_quickSearchList .qSearchItemName input,
#ext_quickSearchList .qSearchItemQuery input {
  width: 100%;
}

#ext_quickSearchList input.has-error {
  background-color: #f2dede;
}

#ext_quickSearchList > li:hover{
  background-color: #f5f5f5;
}

#colorHelperInstruction {
  font-size: 12px;
}
#colorHelperList {
  list-style-type: none;
  width: 296px;
  height: 74px;
  padding: 0px;
  background-color: black;
}
#colorHelperList li {
  display: block;
  float: left;
  width: 37px;
  height: 37px;
}
#colorHelperList li:hover {
  -webkit-transform: scale(1.2, 1.2);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.4);
}
#colorHelperPreview {
  font-family: MingLiU, MingLiUNoGlyph, monospace;
  font-size: 22px;
  line-height: 22px;
}
#colorHelperBlink {
  width: 60px;
  float: left;
  margin-top: 7px;
  margin-bottom: 7px;
}

#inputHelperTabTitle .dropdown-toggle,
#inputHelperTabTitle .dropdown-menu a {
  cursor: pointer;
}
.symList,
.emoList {
  list-style-type: none;
  padding: 0 4px;
  margin-top: 5px;
}
.symList > li {
  font-family: MingLiU, MingLiUNoGlyph, monospace;
  width: 100%;
  border: 1px solid #ccc;
  font-size: 30px;
  line-height: 30px;
  padding: 2px;
  background-color: white;
  margin-bottom: -1px;
  height: 37px;
  cursor: pointer;
  display: block;
  float: left;
  width: 37px;
  margin-right: -1px;
}
.symList > li:hover {
  -webkit-transform: scale(1.4, 1.4);
  border: 2px solid black;
}

.emoList > li {
  font-family: MingLiU, MingLiUNoGlyph, monospace;
  width: 100%;
  border: 1px solid #ccc;
  font-size: 21px;
  line-height: 21px;
  padding: 2px;
  background-color: white;
  margin-bottom: -1px;
  height: 28px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.emoList > li:hover {
  -webkit-transform: scale(1.1, 1.1);
  border: 2px solid black;
}

.tab-pane {
  margin-top: 20px;
  margin-bottom: 0px;
}

#inputHelper {
  position: absolute;
  color: black;
  width: 340px;
  top: 20px;
  left: 20px;
  margin: 0px;
  z-index: 100;
  display: none;
  -webkit-user-select: none;
  cursor: default;
}

#liveHelper {
  position: absolute;
  color: black;
  width: 420px;
  top: 0px;
  left: 50%;
  margin-left: -210px;
  margin-top: 20px;
  z-index: 100;
  display: none;
  -webkit-user-select: none;
  cursor: default;
}

#picPreview {
  position: absolute;
  display: none;
  z-index: 3;
}

#welcomeJumbo {
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  overflow-y: auto;

  background-image: -webkit-radial-gradient(center center, circle cover, #352e24, #1a160d);
  background-image: -ms-radial-gradient(center center, circle cover, #352e24, #1a160d);
  background-image: -moz-radial-gradient(center center, circle cover, #352e24, #1a160d);
  background-image: radial-gradient(center center, circle cover, #352e24, #1a160d);
}

#welcomeBanner {
  position: relative;
  margin-top: 50px;
  left: 50%;
  margin-left: -397px;
  width: 810px;
  height: 650px;

  font-family: "微軟正黑體", "Microsoft JhengHei", Tahoma , Verdana , Arial , sans-serif;
}

#welcomeBanner h1 {
  font-weight: 900;
  font-size: 120px;
  margin-top: 70px;
  margin-right: 50px;
  float: left;
}

#welcomeBannerPtt {
  display: inline-block;
  float: left;
  font-size: 90px;
  font-weight: 900;
  margin-top: -30px;
}
#welcomeBannerChrome {
  display: inline-block;
  float: left;
  font-size: 90px;
  width: 350px;
  margin-top: -30px;
  margin-left: -55px;
  -webkit-transform: scaleX(0.67);
  -ms-transform: scaleX(0.67);
  -moz-transform: scaleX(0.67);
  transform: scaleX(0.67);
}

#bigLogo {
  width: 384px;
  height: 384px;
  float: left;
  background-image: url('../icon_512.png');
  background-size: cover;
}

#getAppBtn {
  width: 360px;
  font-weight: 900;
  margin-top: -5px;
}

#sideMenus {
  position: fixed;
  width: 95px;
  top: 0px;
  z-index: 3;

  transition: 0.25s ease;
}

.menu {
  left: 0px;
}

.menuHidden {
  left: -85px;
}

.menuHidden:hover {
  left: 0px;
}

.dropdown-menu {
  -webkit-user-select: none;
}

.dropdown-menu .checked:before {
  content:"\e013";
  font-family: 'Glyphicons Halflings';
  position: absolute;
  left: 10px;
}

.dropdown-menu li > a {
  padding: 3px 20px 3px 30px;
  cursor: default;
  -webkit-user-select: none;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus {
  color: white;
  background-color: #428bca;
}

.dropdown-menu li > a:hover span,
.dropdown-menu li > a:focus span {
  color: white;
}

#cmenu_quickSearch {
  position: relative;
}
.cmenuGoesUp {
  top: initial !important;
  bottom: 0px;
  margin-top: 0px !important;
  margin-bottom: -5px;
}
.cmenuGoesLeft {
  right: 100%;
  left: initial !important;
  margin-left: 0px !important;
  margin-right: -5px;
}

#quickSearchMenus {
  left: 100%;
  top: 0px;
  margin-top: -5px;
  margin-left: -5px;
}

#cmenu_quickSearch > ul {
  display: none;
}
#cmenu_quickSearch:hover > ul {
  display: block;
}

.cmenuHotkey {
  float: right;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  color: #aaa;
  margin-left: 15px;
}

#opt_reset {
  bottom: 30px;
  position: absolute;
}

#opt_blacklistedUsers {
  margin-top: 5px;
}

#prefModal > .modal-dialog {
  width: 70%;
  min-width: 730px;
  height: 90%;
  margin-bottom: 0;
  min-height: 400px;
}

#prefModal .modal-content {
  height: 100%;
  cursor: default;
  -webkit-user-select: none;
}
#prefModal .modal-body {
  position: absolute;
  bottom: 10px;
  right: 10px;
  overflow-y: auto;
  margin-left: 150px;
  padding-top: 10px;
}

#prefModal h3 {
  margin-bottom: 20px;
}

#prefModal .close {
  position: absolute;
  top: 15px;
  right: 15px;
}

#modalHeader {
  top: 0px;
  left: 180px;
  position: absolute;
  margin-top: 30px;
}

#modalNav {
  padding-left: 30px;
  padding-top: 10px;
  height: 100%;
  width: 160px;
  -webkit-box-shadow: -10px 0 180px -60px #949494 inset
}

#modalNav .nav {
  margin-top: 20px;
}

#modalNav .nav > li > a {
  padding: 5px 0px;
  color: black;
}

#modalNav .nav > li > a:hover,
#modalNav .nav > li > a:focus {
  background: none;
}

#modalNav .nav-pills > li.active > a,
#modalNav .nav-pills > li.active > a:hover,
#modalNav .nav-pills > li.active > a:focus {
  font-weight: bold;
  padding: 5px 0px;
  color: black;
  background: none;
}

.group {
  float: left;
  width: 50%;
  min-width: 400px;
}

.list-group-item-text input[type="text"],
.list-group-item-text input[type="number"],
.list-group-item-text input[type="password"], 
.list-group-item-text select {
  width: 250px;
}

.list-group-item-text select {
  margin-top: 5px;
}

.list-group-item-text > div {
  margin-left: 20px;
}

#opt_mouseBrowsingHighlightColor {
  margin-left: 50px;
  margin-top: -5px;
}

#opt_mouseBrowsingHighlightColor > select {
  margin-top: 5px;
  margin-bottom: 10px;
  width: 70px;
  -webkit-appearance: none;
}

#logo {
  width: 85px;
  height: 90px;
  background: url('../icon_128.png') 0 0/85px 85px no-repeat;
}

.font_btn {
  width: 85px;
  height: 85px;
  background-color: #1a1a1a;
  text-align: center;
  padding: 10px;
  margin: 0px;
  float: left;
  cursor: pointer;
}
.font_btn:hover {
  background-color: #333;
}

.font_btn > i {
  line-height: 40px;
}
.font_btn > span {
  font-size: 13px;
}

#BBSWindow {
  position:fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  overflow:hidden;
  z-index:1;

  -webkit-user-select: none;
}

.main, #easyReadingLastRow, #easyReadingReplyRow {
  font-family: MingLiu, monospace;
  font-size: 26px;
  line-height: 100%;
  height: 24em;
  margin-top:0px;
  margin-left:0px;
  margin-right:0px;
  margin-bottom:0px;
  -webkit-user-select: text;
  background-color: black;
  //box-shadow: 0 0 60px 50px black;
}

.main *,
#easyReadingLastRow *,
#easyReadingReplyRow * {
  font-family: inherit!important;
}

.linkurl {
  text-decoration:underline;
  color:#FF00FF;
}

a:not(.cmenuItem a) {
  background-image:url(../icon/http.bmp);
  background-repeat: repeat-x;
  background-position: 0% 90%;
  text-decoration:none;
}

a:link,a:visited,a:active,a:hover {
  background-position: 0% 90%;
  text-decoration:none;
}

.main > span, 
#mainContainer > span, 
#easyReadingLastRow > span,
#easyReadingReplyRow > span {
  display:block;
  color:#C0C0C0;
  white-space: pre;
}

#easyReadingLastRow, #easyReadingReplyRow {
  position: relative;
  display: none;
  overflow: hidden;
  -webkit-user-select: none;
  z-index: 1;
  height: 1em;
  background-color: transparent;
}

#easyReadingLastRow {
  margin-top: -1em;
}

#easyReadingReplyRow {
  margin-top: -2em;
}

#fbSharing {
  position: absolute;
  display: none;
  z-index: 2;
}

#fbSharing .fb_iframe_widget span iframe {
  bottom: 0!important;
}

.easyReadingImg {
  max-height: 19em;
  max-width: 39em;
  margin: 0.5em auto;
  display: block;
}
.easyReadingVideo {
  margin: 0.5em auto;
  width: 640px;
  display: block;
}

.terminal_display {
  font-family : MingLiu, monospace;
  font-size    : 26px;
  line-height:26px;
  white-space: pre;
  cursor: text;
  position: absolute;
  color: #FFFFFF;
  text-decoration: blink;
  -webkit-user-select: none;
  height: 0px;
  z-index: 2;
}

img {
  background:white; 
  color:black; 
  padding:5px 5px;
}

.main img {
  padding: 0px;
}

body {
  color: white;
  //background-color: #101010;
  background-color: black;
  margin: 0px;
  overflow:hidden;
}

span [link="true"] {
  margin: 0px; 
  background-image: inherit; 
  background-repeat: inherit; 
  background-position: inherit;
}

span {
  margin: 0px;
}

.drag {
  display: none; 
  position: absolute; 
  cursor: default; 
  z-Index: 11;
}

.closeSI {
  float: right;
  margin-top:0px;
  margin-left:0px;
  margin-right:0px;
  margin-bottom:0px;
  border: 0px;
  padding: 1px 1px;
  background-color: #bbbbff;
  cursor: default;
}

.EPbtn {
  margin-top:0px;
  margin-left:0px;
  margin-right:0px;
  margin-bottom:0px;
  border: 0px;
  padding: 1px 1px;
  background-color: #ffbbbb;
  cursor: default;
}

.closePP {
  margin-top:0px;
  margin-left:0px;
  margin-right:0px;
  margin-bottom:0px;
  border: 0px;
  padding: 1px 1px;
  background-color: #bbffbb;
  cursor: default;
}

#PicturePreviewInfo{
  color : #fff;
  text-shadow: 0 0 1px #fff,0 0 2px #fff,0 0 3px #fff,0 0 4px #0000ff,0 0 7px #0000ff,0 0 8px #0000ff,0 0 10px #0000ff,0 0 15px #0000ff;
}

#SymbolInput {
  left: 10px;
  top: 10px;
  z-index: 3;
  background-color: #bbbbff;
  opacity: 0.75;
  padding: 3px 3px 3px 3px;
  border:0px double #cccccc;
  -moz-border-radius:8px;
  cursor: default;
}

#YoutubeWindow, #YoutubeWindow2 {
  left: 10px;
  top: 10px;
  z-index: 3;
  background-color: #ffbbbb;
  padding: 3px 3px 3px 3px;
  border:0px double #cccccc;
  -moz-border-radius:8px;
  cursor: default;
}

#PictureWindow {
  left: 10px;
  top: 10px;
  z-index: 3;
  background-color: #ffffff;
  padding: 3px 3px 3px 3px;
  border:0px double #cccccc;
  -moz-border-radius:8px;
  cursor: default;
}

.floatWindowClientArea {
  background-color: #ffffff;
  margin-top:22px;
  margin-left:3px;
  margin-right:3px;
  margin-bottom:3px;
  border: 1px solid #000000;
  cursor: default;
}

.floatWindowClientArea2 {
  background-color: #ffbbbb;
  margin-top:22px;
  margin-left:3px;
  margin-right:3px;
  margin-bottom:0px;
  border: 0px solid #000000;
  cursor: default;
}

.floatWindowClientArea3 {
  background-color: #ffbbbb;
  margin-top:0px;
  margin-left:3px;
  margin-right:3px;
  margin-bottom:3px;
  border: 0px solid #000000;
  cursor: default;
}

.floatWindowClientArea4 {
  background-color: #ffffff;
  margin: 0px;
  padding: 0px;
  border: 0px solid #000000;
  cursor: default;
  position: relative;
}

.floatWindowClientArea5 {
  background-color: #bbffbb;
  margin: 0px;
  padding: 0px;
  border: 0px solid #000000;
  cursor: default;
}

.picturePreview {background:white; color:black; padding:0px;margin: 0px;}

.sBtn{
  font-family: MingLiu, monospace;
  font-size: 12px;
  cursor: default;
  min-width: 26px;
  margin-top:2px;
  margin-left:2px;
  margin-right:2px;
  margin-bottom:2px;
}

#connectionAlert {
  display: none;
  margin-top: 15px;
  position: relative;
  z-index: 2;

  width: 400px;
  left: 50%;
  margin-left: -200px;
  box-shadow: 0px 0px 20px black;
}

.main::-webkit-scrollbar {
  width: 10px;
}

.main::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}
.main::-webkit-scrollbar-track:hover {
  background: rgba(255, 255, 255, 0.2);
}

.main::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
}
.main::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}

.glyphicon-refresh-animate {
  -webkit-animation: spin .7s infinite linear;
}

@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}

.modal-backdrop {
  z-index: 1 !important;
}
