.tabs {
  height: 460px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  display: block;
}

.tabs section {
  float: left;
  z-index: 1;
}

.tabs section header {
  margin: 0 1px 0 0;
  background: #d9d9d9;
  padding: 3px 10px;
  font: bold 12px Arial;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
  border-top: 1px solid #000000;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  border-bottom: 0px  solid #FF0000;
}

.tabs section.active header {
  background: #d0d0d0;
  cursor: default;
}

.tabs section.inactive header {
  background: #a0a0a0;
  cursor: pointer;
}

.tabs section div[tabtype="maintab"] {
  position: absolute;
  left: 0;
  z-index: 2;
  width: 770px;
  height: 460px;
  background: #d0d0d0;
  display: none;
  padding: 4px;
  margin-top: 0px;
  font: 12px Arial;
}

.tabs section div[tabtype="subtab"] {
  position: absolute;
  left: 0;
  z-index: 2;
  background: #d0d0d0;
  display: none;
  padding: 4px;
  margin-top: 0px;
  font: 12px Arial;
  width:500px;
  height:420px;
}

div[tabtype="listview"] {
  background: #ffffff;
  display: block;
  padding: 0px;
  margin: 0px;
  width:250px;
  height:400px;
  border: 1px solid #000000;
  overflow-x: hidden;
  overflow-y: auto;
}

div[tabtype="listview"] div[tabtype="listheaderrow"]  {
  height:16px;
}

div[tabtype="listview"] div[tabtype="listcellrow"],div[tabtype="listcellrow-select"]{
  height:15px;
}

div[tabtype="listview"] div[tabtype="listcellrow"],div[tabtype="listcellrow-highlight"]{
  height:15px;
}

div[tabtype="listview"] div[tabtype="rowcells"] {
  width:250px;
  display:block;
  position: relative;
}

div[tabtype="listview"] div[tabtype="colheader"]  {
  text-align:center;
  background:#c0c0c0;
  color:#000000;
  width:125px;
  position: absolute;
  display:inline;
  border-bottom: 1px solid #000000;
  border-left: 0px solid #000000;
  border-right: 1px solid #000000;
  border-top: 0px solid #000000;
}

div[tabtype="listview"] div[tabtype="listcellrow"] div[tabtype="rowcell"] {
  text-align:left;
  width:126px;
  position: absolute;
  display:inline;
  border: 0px solid #000000;
  cursor: default;
  overflow: hidden;
}

div[tabtype="listcellrow"]:hover {
  background:#5050c0;
  color:#FFFFFF;
}

div[tabtype="listview"] .selected {
  background:#0000c0;
  color:#FFFFFF;
}

.tabs section.active div[tabtype="maintab"] {
  border-bottom: 1px solid #000000;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  border-top: 1px solid #000000;
  display: block;
  left: 0px;
}

.tabs section.active div[tabtype="subtab"] {
  border-bottom: 1px solid #000000;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  border-top: 1px solid #000000;
  display: block;
  left: 0px;
}

.tabs section.inactive div[tabtype="maintab"] { display: none; }
.tabs section.inactive div[tabtype="subtab"] { display: none; }

table{
  border:hidden;
  padding: 0px;
  margin: 0px;
  cellpadding:0px;
  cellspacing:0px;
}

tr
{
  border:0;
  padding: 0px;
  margin: 0px;
}

td{
  border:0;
  padding: 0px;
  margin: 0px;
}

select.colorpicker option[value="0"] {background:#000000;color:#000000;}
select.colorpicker option[value="1"] {background:#800000;color:#800000}
select.colorpicker option[value="2"] {background:#008000;color:#008000;}
select.colorpicker option[value="3"] {background:#808000;color:#808000;}
select.colorpicker option[value="4"] {background:#000080;color:#000080;}
select.colorpicker option[value="5"] {background:#800080;color:#800080;}
select.colorpicker option[value="6"] {background:#008080;color:#008080;}
select.colorpicker option[value="7"] {background:#c0c0c0;color:#c0c0c0;}
select.colorpicker option[value="8"] {background:#808080;color:#808080;}
select.colorpicker option[value="9"] {background:#ff0000;color:#ff0000;}
select.colorpicker option[value="10"] {background:#00ff00;color:#00ff00;}
select.colorpicker option[value="11"] {background:#ffff00;color:#ffff00;}
select.colorpicker option[value="12"] {background:#0000ff;color:#0000ff;}
select.colorpicker option[value="13"] {background:#ff00ff;color:#ff00ff;}
select.colorpicker option[value="14"] {background:#00ffff;color:#00ffff;}
select.colorpicker option[value="15"] {background:#ffffff;color:#ffffff;}

aside textarea {
  height: 380px;
  width: 120px;
  float: left;
}

img.imgup {
  background-image: url(../icon/up.png);
  background-repeat: no-repeat;
	margin: 0px;
	padding: 0px;
	border: 0px solid #000000;
	width: 11px;
	height: 10px;
	display: block;
}

img.imgupclick {
  background-image: url(../icon/up-click.png);
  background-repeat: no-repeat;
	margin: 0px;
	padding: 0px;
	border: 0px solid #000000;
	width: 11px;
	height: 10px;
	display: block;
}

img:hover.imgup {
  background-image: url(../icon/up-mouseover.png);
  background-repeat: no-repeat;
	margin: 0px;
	padding: 0px;
	border: 0px solid #000000;
	width: 11px;
	height: 10px;
	display: block;
}

img.imgdown {
  background-image: url(../icon/down.png);
  background-repeat: no-repeat;
	margin: 0px;
	padding: 0px;
	border: 0px solid #000000;
	width: 11px;
	height: 10px;
	display: block;
}

img.imgdownclick {
  background-image: url(../icon/down-click.png);
  background-repeat: no-repeat;
	margin: 0px;
	padding: 0px;
	border: 0px solid #000000;
	width: 11px;
	height: 10px;
	display: block;
}

img:hover.imgdown {
  background-image: url(../icon/down-mouseover.png);
  background-repeat: no-repeat;
	margin: 0px;
	padding: 0px;
	border: 0px solid #000000;
	width: 11px;
	height: 10px;
	display: block;
}
