@import 'color';

@font-face {
  font-family: SymMingLiu;
  src: url('../fonts/symmingliu.woff');
}

* {
  box-sizing: border-box;
}

#app-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1;
  user-select: none;
}

#terminal {
  font-family: MingLiu, monospace;
  font-size: 26px;
  line-height: 100%;
  height: 24em;
  margin: 0;
  user-select: text;
  background-color: $color-0;

  * {
    font-family: inherit!important;
  }

  .term-row {
    color: $color-7;
    white-space: pre;
  }
}

body {
  color: $color-7;
  background-color: $color-0;
  margin: 0;
  overflow: hidden;
}